#container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 25% 75%;
}
#FeatProj{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  justify-content: fill;
}
#quick-lnk{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #191BA9;
  color:#5CC2F2;
  text-decoration: none;
}
#about{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  padding: 0px 10px 0px 10px;
}