.main-nav{
  width: = 100%;
  background: = blue;
  min-height: 30px;
  padding: 10px
  position: fixed;
  text-align: center;
}
.nav{
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.logo-banner{
  height: 150px;
  width: 100%;
}
footer{
  width: 100%;
  clear: both;
  margin-botton: 0;
}
.t-social{
  text-align: center;
}
.copyright{
  text-align: center;
}
.con-info{
  text-align: center;
}
.slogan{
  text-align: center;
}
.card{
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border radius: 6px;
}
.flex{
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
  margin: 0 auto;
}
aside{
  float:right;
  width: 30%
}
section{
  float:left;
  width: 70%
}
