.container{
  margin: auto 0 auto 0;
  width: 50%;
  height:200px;
  background-color:#fff;
  display:grid;
  grid-template-columns: 100% 100%;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}
.box{
    padding:0px;
    display:grid;
    align-items:center;
    font-family:sans-serif;
    float: left;
  }
footer{
  width: 100%;
  clear: both;
  margin-botton: 0;
}
.t-social{
  text-align: center;
}
.copyright{
  text-align: center;
}
.BP-header{
  text-align: center;
  width: 100%;
}
.t1{
  float: left;
  width: 100%;
  background-color: red;
  text-align: center;
}
.t1Header{
  float: left;
  background-color: red;
  text-align: center;
  width: 50%
}
.t2Header{
  float: left;
  background-color: blue;
  text-align : center;
  width: 50%;
}
.t2{
  float: right;
  width: 100%;
  background-color: blue;
  text-align: center;
}
#bottom{
  width = 100%;
  text-align: center;
  background-color: black;
  color: white;
}
#bd{
  float: left;
  text-align: center;
  width: 100%;
}
#endgame{
  float: right;
  text-align: center;
  width: 50%;
}
.matchtime{
  width: 100%;
  text-align: center;
}
#T1T{
  align-items: center;
}
